.page {
  padding: 20px;
}

.gauge-title{
    font-size: 10px;
    fill: #A1A6AD;
}

.el-carousel__item {
  &:nth-child(2n) {
    background-color: #99a9bf;
  }
  &:nth-child(2n + 1) {
    background-color:   #d3dce6;
  }
}
